In [1]:
import sys
import os
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

sys.path.append(os.path.abspath(".."))
from src.text_preprocess import clean_resume_text

In [2]:
df = pd.read_csv("../data/resume_data.csv")
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [3]:
df["cleaned_resume"] = df["Resume"].apply(clean_resume_text)

In [4]:
df[["Resume", "cleaned_resume"]].head()

,Resume,cleaned_resume
0,Skills * Programming Languages: Python (pandas...,skill programming language python panda numpy ...
1,Education Details \r\nMay 2013 to May 2017 B.E...,education detail may may uit rgpv data scienti...
2,"Areas of Interest Deep Learning, Control Syste...",area interest deep learning control system des...
3,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,skill python sap hana tableau sap hana sql sap...
4,"Education Details \r\n MCA YMCAUST, Faridab...",education detail mca ymcaust faridabad haryana...

In [5]:
X_text = df["cleaned_resume"]
y = df["Category"]

In [6]:
tfidf = TfidfVectorizer(
    max_features=3000,
    ngram_range=(1, 2)
)

X = tfidf.fit_transform(X_text)

In [7]:
X.shape

(962, 3000)